spring:
  # Security OAuth
  security:
    oauth2.client:
      registration:
        google:
          clientId: ${google-client-id}
          clientSecret: ${google=client-secret}
          scope:
            - email
            - profile

# cors 설정
cors:
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: '*'
  max-age: 3600

# jwt secret key 설정
jwt.secret: ${jwt-secret-key}

# 토큰 관련 secret Key 및 RedirectUri 설정
app:
  auth:
    tokenSecret: 926D96C90030DD58429D2751AC1BDBBC
    tokenExpiry: 1800000
    refreshTokenExpiry: 604800000


---
# 개발 환경
spring:
  # 데이터 소스 설정
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/Desktop/h2/debug_web_test
    username: sa
    password: root
    hikari:
      pool-name: jpa-hikari-pool
      maximum-pool-size: 5
      jdbc-url: jdbc:h2:~/Desktop/h2/debug_web_test
      username: sa
      password:
      driver-class-name: ${spring.datasource.driver-class-name}
      data-source-properties:
        rewriteBatchedStatements: true
  # JPA 설정
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        hbm2ddl.import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
        default_batch_fetch_size: ${chunkSize:100}
        jdbc.batch_size: 20
        order_inserts: true
        order_updates: true
        format_sql: true
  config:
    activate:
      on-profile: development
  # OAuth 설정
  security:
    oauth2.client:
      registration:
        google:
          clientId: '{구글 client-id}'
          clientSecret: '{구글 client-secret}'
          scope:
            - email
            - profile

cors:
  allowed-origins: 'http://localhost:3000'

app:
  oauth2:
    authorizedRedirectUris:
      - http://localhost:3000/oauth/redirect
---
# 배포 환경
spring:
  config:
    activate:
      on-profile: production